* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  background: white;
  margin: 0;
}
.hidden {
opacity: 0%;
color: white;
}
.hidden:hover {
opacity: 100%;
color: white;
}
.hidden:focus {
  color: white;
}

.header {
  width: 100%;
  height: auto;
  background: url('../images/header-image.jpg');
  background-size: 100%;
}

.header-logo {
  width: 100%;
  height: auto;
  color: #81b741;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: .8rem;
  font-style: italic;
  font-family: "Times New Roman", serif;
  margin-left: 20rem;
}

.cart {
  height: auto;
  color: white;
  display: inline;
}
.shopping-cart {
  width: 5%;
  height: auto;
  float: right;
  padding-right: 1em;
  padding-top: 11em;
}
.shopping-cart:hover {
  cursor: pointer;
}
.cart-price {
  float: right;
  padding-right: 20em;
  padding-top: 12em;
  font-weight: bold;
}
.cart-price:hover {
  cursor: pointer;
}
.checkout {
  float: right;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #81b741;
  border: none;
  border-radius: .25rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  bottom: -15rem;
  right: -9rem;
}
.checkout:hover {
  background-color: #093c60;
  color: white;
}

.dog-hug-img {
  margin-left: 20rem;
  padding-top: 7rem;
}

.blog-img {
  margin-left: 20rem;
  padding-top: 2rem;
}

.blog-subheader {
  margin-left: 5rem;
  padding-top: .5rem;
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  color: #093c60;
}
.blog-post {
  margin-left: 5rem;
  margin-right: 15rem;
  line-height: 2rem;
}
.blog-header {
  padding-top: 2rem;
  margin-left: 20rem;
  font-family: "Times New Roman", serif;
  font-size: 2rem;
  color: #093c60;
}
.adopt-a-dog {
  padding-left: 10rem;
  padding-right: 20rem;
  padding-top: 5rem;
}
.adopt-a-dog p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.adopt-a-dog h2 {
  font-size: 2.5rem;
  color: #093c60;
  font-family: "Times New Roman", serif;
}
.navbar {
  overflow: hidden;
  background-color: #ebebeb;
}

.navbar a {
  float: left;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  color: #093c60;
  text-align: center;
  padding: 1.5rem .8rem;
  text-decoration: none;
}

.navbar a.active {
  background-color: #81b741;
  color: white;
}

.home {
  margin-left: 20rem;
}

.navbar a:hover {
  background-color: #093c60;
  color: white;
}
#dogs-header {
  text-align: left;
  font-size: 2rem;
  color: #093c60;
  font-family: "Times New Roman", serif;
  margin-left: 20rem;
  margin-top: 5rem;
}
.see-more a {
display: block;
text-align: center;
padding: .75rem;
background-color: #ebebeb;
border: none;
border-radius: .25rem;
color: #093c60;
font-weight: bolder;
text-decoration: none;
margin-left: 53rem;
margin-right: 53rem;
margin-top: 3rem;
margin-bottom: 3rem;
}
.see-more a:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: .25rem;
  background-color: #093c60;
  color: white;
}
.card {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 10px;
  padding: 20px;
  transition: 0.3s;
  border-radius: 20px;
  color: #3e3e3e;
  text-align: center;
}
.card:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: .75rem;
}
.card a {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #81b741;
  border: none;
  border-radius: .25rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.card a:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: .25rem;
  background-color: #093c60;
  color: white;
}
.card .description {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: left;
}
.card .price {
  text-align: left;
  margin-top: .25rem;
}
.title {
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  color: #093c60;
  font-weight: bold;
  text-align: left;
}
.columns {
  float: left;
  width: 25%;
  padding: 3rem;
  margin-top: 3rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.rows {
  padding-left: 19rem;
  padding-right: 19rem;
}
.form {
}
.form-field {
  height: 3rem;
  width: 42rem;
  margin-left: 20rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.pickup-menu {
  height: 3rem;
  width: 18rem;
  margin-left: 20rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.checkbox {
  margin-left: 20rem;
}
.checkout-header {
  margin-left: 20rem;
  font-family: "Times New Roman", serif;
  color: #093c60;
  font-size: 2rem;
}
.label {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #093c60;
  margin-left: 20rem;
}
.file {
  margin-left: 20rem;
}
.message {
  height: 6rem;
  width: 42rem;
  margin-left: 20rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.total-cost {
  font-size: 1rem;
  margin-left: 20rem;
}
.pickup {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #093c60;
  margin-left: 20rem;
  padding-top: 10rem;
}
.dogs-adopted{
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #093c60;
  margin-left: 20rem;
  margin-top: 0rem;
}
.first-time {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #093c60;
  margin-left: 20rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.Y-N {
  font-size: 1rem;
  color: #093c60;
  margin-top: 0;
  padding-bottom: 12rem;
}
.city {
  height: 3rem;
  width: 18rem;
  margin-left: 20rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.state {
  height: 3rem;
  width: 8rem;
  margin-left: 20rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
  text-align: center;
}
.zip {
  height: 3rem;
  width: 12rem;
  margin-left: 20rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.submit {
  font-family: "Helvetica", sans-serif;
  margin-left: 20rem;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #81b741;
  border: none;
  border-radius: .25rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.submit:hover {
  cursor: pointer;
}
.cart-img-lucas {
  margin-left: 20rem;
  width: 20%;
  margin-right: 0;
}
.cart-img-duffy {
  margin-left: -9rem;
  width: 20%;
  margin-right: 0;
}
.dog-name-duffy {
  font-family: "Times New Roman", serif;
  color: #093c60;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -32rem;;
}
.dog-cost-duffy {
  margin-left: -32rem;
  font-size: .9rem;
}
.dog-cost-lucas {
  margin-left: -3rem;
  font-size: .9rem;
}
.dog-name-lucas {
  font-family: "Times New Roman", serif;
  color: #093c60;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -3rem;
}
.footer {

  padding: 2rem;
  text-align: center;
  background: #093c60;
  margin-top: 1.5rem;
  color: white;
  font-size: 1rem;
}
.footer img {
  width: 25%;
  height: auto;
}
.footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-top: 1.5rem;
}

.footer p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 2rem;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.col {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.span_1_of_12 {
  width: 8.33%;
}

.span_2_of_12 {
  width: 16.66%;
}

.span_3_of_12 {
  width: 25%;
}

.span_4_of_12 {
  width: 33.33%;
}

.span_5_of_12 {
  width: 41.66%;
}

.span_6_of_12 {
  width: 50%;
}

.span_7_of_12 {
  width: 58.33%;
}

.span_8_of_12 {
  width: 66.66%;
}

.span_9_of_12 {
  width: 75%;
}

.span_10_of_12 {
  width: 83.33%;
}

.span_11_of_12 {
  width: 91.66%;
}

.span_12_of_12 {
  width: 100%;
}
