* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  background: white;
  margin: 0;
}
.hidden {
opacity: 0%;
color: white;
}
.hidden:hover {
opacity: 100%;
color: white;
}
.hidden:focus {
  color: white;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header-grid {
  display: grid;
  float: left;
  width: 100%;
  grid-template-columns: 40% 60%;
}

.header {
  display: grid;
  width: 100%;
  height: auto;
  background: url('../images/header-image.jpg');
  background-size: 100%;
}

#header-right {
  display: grid;
  width: 100%;
  height: auto;
  color: #81b741;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: .8rem;
  font-style: italic;
  font-family: "Times New Roman", serif;
  margin-left: 15rem;
}

.cart-container {
  display: grid;
  float: right;
  height: auto;
}
.shopping-cart {
  width: 5%;
  height: auto;
  float: right;
  padding-right: 1em;
  padding-top: 14em;
  margin-left: 30rem;
  padding-bottom: 1rem;
}
.shopping-cart:hover {
  cursor: pointer;
}
.cart-price {
  float: right;
  margin-right: 27rem;
  padding-bottom: 1rem;
  color: white;
  padding-top: 15em;
  font-weight: bold;
}
.cart-price:hover {
  cursor: pointer;
}
.checkout {
  float: right;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: 37rem;
  margin-bottom: 10rem;
  background-color: #81b741;
  width: 8rem;
  border: none;
  border-radius: .25rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.checkout:hover {
  background-color: #093c60;
  color: white;
}


.blog-img {
  padding-top: 2rem;
}

.blog-subheader {
  margin-left: 5rem;
  padding-top: .5rem;
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  color: #093c60;
}
.blog-post {
  margin-left: 5rem;
  margin-right: 15rem;
  line-height: 2rem;
}
.blog-header {
  padding-top: 2rem;
  margin-left: 15rem;
  font-family: "Times New Roman", serif;
  font-size: 2rem;
  color: #093c60;
}
.blog-grid {
  grid-row-gap: 5rem;
}
.blog-section-header {
  padding-top: 100px;
  margin: 0rem;
  font-family: "Times New Roman", serif;
  font-size: 2rem;
  color: #093c60;
}
.blog-container {
  display: grid;
  margin-right: 15rem;
  padding: 1rem;
}
.blog-container p {
  line-height: 1.5rem;
}
.blog-container h3 {
  padding-top: .5rem;
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  color: #093c60;
}
.blog-container img {
  padding-top: 2rem;
  width: 100%;
}
.blog-container a {
  margin-bottom: 1rem;
}
.blog-container:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
.adopt-a-dog img {
  padding-top: 100px;
  width: 100%;
  padding-left: 15rem;
  padding-right: 5rem;
}

.adopt-a-dog h2 {
  padding-left: 15rem;
  padding-top: 1rem;
  font-size: 2.5rem;
  color: #093c60;
  font-family: "Times New Roman", serif;
}
.adopt-a-dog p {
  display: grid;
  padding-left: 15rem;
  margin-right: 8rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.navbar {
  overflow: hidden;
  background-color: #ebebeb;
}

.navbar a {
  float: left;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #093c60;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #81b741;
  color: white;
}

.home {
  margin-left: 15rem;
}

.navbar a:hover {
  background-color: #093c60;
  color: white;
}
#dogs-header {
  text-align: left;
  font-size: 2rem;
  color: #093c60;
  font-family: "Times New Roman", serif;
  margin-left: 16rem;
  margin-top: 5rem;
}
.see-more a {
display: grid;
text-align: center;
justify-content: center;
padding: .75rem;
background-color: #ebebeb;
border: none;
border-radius: .25rem;
color: #093c60;
font-weight: bolder;
text-decoration: none;
margin-top: 3rem;
margin-bottom: 3rem;
margin-left: auto;
margin-right: auto;
width: 10rem;
}
.see-more a:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: .25rem;
  background-color: #093c60;
  color: white;
}
.card {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 10px;
  padding: 20px;
  transition: 0.3s;
  border-radius: 20px;
  color: #3e3e3e;
  text-align: center;
}
.card:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: .75rem;
}
.card a {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #81b741;
  border: none;
  border-radius: .25rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.card a:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: .25rem;
  background-color: #093c60;
  color: white;
}
.card .description {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: left;
}
.card .price {
  text-align: left;
  margin-top: .25rem;
}
.title {
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  color: #093c60;
  font-weight: bold;
  text-align: left;
}
.columns {
  float: left;
  width: 25%;
  padding: 20px;
  margin-top: 20px;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.rows {
  padding-left: 15rem;
  padding-right: 15rem;
}
.form {
}
.form-field {
  height: 3rem;
  width: 42rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.pickup-menu {
  height: 3rem;
  width: 18rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.checkbox {
  margin-left: 15rem;
}
.checkout-header {
  margin-left: 15rem;
  font-family: "Times New Roman", serif;
  color: #093c60;
  font-size: 2rem;
}
.label {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #093c60;
  margin-left: 15rem;
}
.file {
  margin-left: 15rem;
}
.message {
  height: 6rem;
  width: 42rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.total-cost {
  font-size: 1rem;
  margin-left: 15rem;
}
.pickup {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #093c60;
  margin-left: 15rem;
  padding-top: 10rem;
}
.dogs-adopted{
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #093c60;
  margin-left: 15rem;
  margin-top: 0rem;
}
.first-time {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #093c60;
  margin-left: 15rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.Y-N {
  font-size: 1rem;
  color: #093c60;
  margin-top: 0;
  padding-bottom: 12rem;
}
.city {
  height: 3rem;
  width: 18rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.state {
  height: 3rem;
  width: 8rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
  text-align: center;
}
.zip {
  height: 3rem;
  width: 12rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
  margin-top: .5rem;
}
.submit {
  font-family: "Helvetica", sans-serif;
  margin-left: 15rem;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #81b741;
  border: none;
  border-radius: .25rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.submit:hover {
  cursor: pointer;
}
.cart-img-lucas {
  margin-left: 15rem;
  width: 20%;
  margin-right: 0;
}
.cart-img-duffy {
  margin-left: -9rem;
  width: 20%;
  margin-right: 0;
}
.dog-name-duffy {
  font-family: "Times New Roman", serif;
  color: #093c60;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -32rem;;
}
.dog-cost-duffy {
  margin-left: -32rem;
  font-size: .9rem;
}
.dog-cost-lucas {
  margin-left: -3rem;
  font-size: .9rem;
}
.dog-name-lucas {
  font-family: "Times New Roman", serif;
  color: #093c60;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -3rem;
}
.footer {
  display: block;
  float: left;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  background: #093c60;
  margin-top: 1.5rem;
  color: white;
  font-size: 1rem;
}
.footer img {
  width: 25%;
  height: auto;
}
.footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-top: 15px;
}

.footer p {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.col {
    float: left;
    padding: 5px;
}

.rows::after {
    content: "";
    clear: both;
    display: table;
}
.banner::after {
    content: "";
    clear: both;
    display: table;
}
.span_1_of_12 {
  width: 8.33%;
}

.span_2_of_12 {
  width: 16.66%;
}

.span_3_of_12 {
  width: 25%;
}

.span_4_of_12 {
  width: 33.33%;
}

.span_5_of_12 {
  width: 41.66%;
}

.span_6_of_12 {
  width: 50%;
}

.span_7_of_12 {
  width: 58.33%;
}

.span_8_of_12 {
  width: 66.66%;
}

.span_9_of_12 {
  width: 75%;
}

.span_10_of_12 {
  width: 83.33%;
}

.span_11_of_12 {
  width: 91.66%;
}

.span_12_of_12 {
  width: 100%;
}


.dog-grid {
  display: grid;
  float: left;
  margin-top: 1rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  grid-row-gap: 1rem;
  width: 120%;
  grid-template-columns: 33% 33% 33%;
  padding-right: 20rem;
}
.dog-page-grid {
  display: grid;
  float: left;
  margin-top: 1rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  grid-row-gap: 1rem;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
}
.adopt-a-dog {
  display: grid;
  float: left;
  grid-row-gap: 1rem;
  width: 100%;
}
.container {
  display: grid;
  float: left;
  width: 100%;
  grid-template-columns: 70% 30%;
}

@media only screen and (max-width: 420px) {
  .dog-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 1072px){
  .dog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-row-gap: 1rem;
    margin-right: 0rem;
    width: 95%;
  }
}
@media only screen and (max-width: 420px) {
  .dog-page-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 1072px){
  .dog-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-row-gap: 1rem;
  }
}
@media only screen and (max-width: 420px) {
  .see-more {
    display: grid;
    padding: .5em;
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 420px) {
  .adopt-a-dog {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 0rem;
  }
}
@media only screen and (max-width: 420px) {
  .adopt-a-dog img {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 0rem;
  }
}
@media only screen and (max-width: 420px) {
  .adopt-a-dog h2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 0rem;
    text-align: center;
  }
}
@media only screen and (max-width: 420px) {
  .adopt-a-dog p {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 0rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .adopt-a-dog {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 0rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .adopt-a-dog img {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 0rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .adopt-a-dog h2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 0rem;
    text-align: left;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .adopt-a-dog p {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 0rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .card {
    display: grid;
  }
}
@media only screen and (max-width: 420px) {
  .blog-grid {
    display: none;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .blog-grid {
    display: grid;
    margin-right: 0rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .blog-container {
    display: grid;
    margin-right: 0rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .shopping-cart {
    display: grid;
    float: right;
    margin-right: 0rem;
    margin-left: 0rem;
    width: 10%;
    padding-top: 14rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .checkout {
    display: grid;
    float: right;
    margin-right: 0rem;
    margin-left: 19rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .cart-price {
    display: grid;
    float: right;
    padding-right: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  .cart-container {
    display: grid;
    float: right;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
@media only screen and (min-width: 421px) and (max-width: 1072px) {
  #header-right {
    display: grid;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 420px) {
  .shopping-cart {
    display: grid;
    float: right;
    margin-right: 0rem;
    margin-left: 0rem;
    width: 20%;
    padding-top: 14rem;
  }
}
@media only screen and (max-width: 420px) {
  .checkout {
    display: grid;
    float: left;
    margin-right: 0rem;
    margin-left: 6rem;
  }
}
@media only screen and (max-width: 420px) {
  .cart-price {
    display: grid;
    float: right;
    padding-right: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 420px) {
  .cart-container {
    display: grid;
    float: right;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 420px) {
  #header-right {
    display: grid;
    margin-left: 1rem;
  }
}
